<div class='card mb-3 d-flex flex-row'>
  <div class="imageContainer m-3 align-self-center">
    <img src="https://source.boringavatars.com/bauhaus/100/{{song_name}}?colors=a4aa83,839c45,465b2a,83aa91,459c6f,2a5b48,bdbdbd" class="songImage m-auto" alt="...">
  </div>
  <div class="m-3">
      <h4 class="card-title mb-0  user-select-none">{{song_name}}</h4>
      <p class="mb-2 username  user-select-none">{{user.username}}</p>
      <audio id="audio" controls src="{{audio_file}}"></audio>
{{!-- <div> 
  <i onclick="document.getElementById('player').play()" class="fa-solid fa-play fa-xl"></i> 
  <i onclick="document.getElementById('player').pause()" class="fa-solid fa-pause fa-xl"></i> 
  <button onclick="document.getElementById('player').volume += 0.1">Vol +</button> 
  <button onclick="document.getElementById('player').volume -= 0.1">Vol -</button> 
</div> --}}
      {{!-- <a target="_blank" href="{{audio_file}}"><i class="fa-solid fa-play fa-xl"></i></a> --}}
      
  </div>
  <div class="d-flex">
    <img class="waveform align-self-center mt-2 p-3" src="{{format_url audio_file}}" alt="">
    <div class="position-absolute top-0 end-0 m-2">
      {{#each tags}}
       <h6 class="tag px-2 py-1 user-select-none">#{{tag_name}}</h6> 
      {{/each}}
    </div>
    <div class="position-absolute bottom-0 end-0">
      <p class="mb-0 py-1 px-2 posted user-select-none">{{format_date created_at}}</p>
    </div>
  </div>
</div>
